body {
    text-align: center;
    align-items: center;
    background-color: #88c3a2;
}

.btn {
    margin-top: 15px;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 32px;
    background: #14213d;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.5s;
    color: white;
    margin-left: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1) o 6px 20px 0 rgba(29, 29, 29, 0.5);
}

input {
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    box-shadow: inset 12px 12px 12px #cbced1 , inset -12px -12px 12px white ;
    border: none;
    text-align:  center;
    font-size: 20px;

}

.container {
    width:fit-content ;
    margin: auto;
    padding: 20px 50px 20px 50px;
    margin-top: 80px;
    border-radius: 32px;
    background: #88c3a2;
    box-shadow: 20px 20px 60px  #74a68a -20px -20px 60px #9ce0ba  ;
}

#cotainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#container >div {
    width: 200px;
    height: 200px;
}
.activeCaseDiv{
    background-color: #2d4a4f;
    color: white;
    font-size: 2rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2) 0px 6px 20px 0px rgba(0, 0, 0, 0.19)  ;

}

.newCaseDiv{
    background-color: #2d4a4f;
    color: white;
    font-size: 2rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px  0px rgba(0, 0, 4 , 0) 0px 6px 20px 0px rgba(0, 0, 0, 0.19)  ;

}

.recoveredCaseDiv{
    background-color: #2d4a4f;
    color: white;
    font-size: 2rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2) 0px 6px 20px 0px rgba(0, 0, 0, 0.19)  ;

}

.totalCaseDiv{
    background-color: #2d4a4f;
    color: white;
    font-size: 2rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2) 0px 6px 20px 0px rgba(0, 0, 0, 0.19)  ;

}

.totalDeathsDiv{
    background-color: #2d4a4f;
    color: white;
    font-size: 2rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2) 0px 6px 20px 0px rgba(0, 0, 0, 0.19)  ;

}

.totalTestsDiv{
    background-color: #2d4a4f;
    color: white;
    font-size: 2rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px  0px rgba(0, 0, 0, 0.2) 0px 6px 20px 0px rgba(0, 0, 0, 0.19)  ;

}